# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# FastAPI / backend
uploads/
exports/
.env

# Node / React frontend
node_modules/
dist/
*.log
*.lock

# MacOS
.DS_Store

# VSCode / IDE
.vscode/
.idea/
*.swp
